.App {
  text-align: center;
}
/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: #1a1a1a;
  font-family: 'Open Sans', sans-serif;
}
